body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto Mono', monospace;
}

#app,
.r-14l27qf {
  width: 100% !important;
  min-width: 550px !important;
}

#react-native-stylesheet {
  min-width: 550px !important;
}

/* .twitter-tweet,
.twitter-tweet-rendered {
  min-width: 550px !important;
} */
